page-help {        
    .list-section {
        position: relative;
        margin-top: 20px;
        .design-image-1 {
            position: absolute;
            width: 20px;
            right: 60px;
            top: 4px;
        }
        .design-image-2 {
            position: absolute;
            width: 80px;
            left: 80px;
            top: -50px;
        }   
    }

    .details-back-button{
        border-radius: 50%;
        height: 32px;
        width: 32px;
        margin-left: 10px;
        margin-top: 10px;
        background-color: color($colors, backgroundcolor);
        color: color($colors, home-headline);
    }

    .section-1, .section-2, .section-3, .section-4 {
        margin-top: 30px;
    }

    p {
        font-size: 15px;
        font-weight: 300;
    }
    .anchor-link {
        text-decoration: none;
    }
    
}
